
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: sans-serif;
  --app-header-height: 34px;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100dvh;
}

app-index {
  display: block;
  width: 100%;
  height: 100dvh;
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #181818;
    color: white;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background-color: #f5f5f5;
    color: black;
  }
}